# ignore all
/*

#include
!.gitignore
!.bashrc
!.zshrc
!.taskrc
!.profile

#include folders
!/.task/
!/.task/**

/.config/*
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/kitty/
!/.config/kitty/**

!/.goodies/
!/.goodies/**

# owo
