# ignore all
/*

#include
!.gitignore
!.bashrc
!.zshrc
!.taskrc
!.profile
!.hledger.journal
!.calories.db

#include folders
!/.task/
!/.task/**

/.config/*
!/.config/
# nvim
!/.config/nvim/
!/.config/nvim/**
# kitty
!/.config/kitty/
!/.config/kitty/**
# starship for zsh
!/.config/starship.toml
# kde/plasma
!/.config/kglobalshortcutsrc
!/.config/kwinrc
!/.config/kdeglobals
!/.config/kdedefaults
!/.config/kdedefaults/**

# I don't want this file being tracked
/.config/nvim/lazy-lock.json

!/.goodies/
!/.goodies/**

# owo
