# ignore all
/*

#include
!.gitignore
!.bashrc
!.zshrc
!.taskrc
!.profile
!.hledger.journal
!.calories.db

#include folders
!/.task/
!/.task/**

/.config/*
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/kitty/
!/.config/kitty/**
!/.config/starship.toml

!/.goodies/
!/.goodies/**

# owo
